<main>
  <div class="sections">
    <app-title-animated class="left-page"></app-title-animated>

    <section class="login-container">
      <h1>Realize o seu login nesse maravilhoso site <div class="happy-emoji">😀</div>
      </h1>
      <form>
        <p>Digite o seu email:</p>
        <input matInput placeholder="email" type="email" />
        <p>Digite a sua senha:</p>
        <input matInput placeholder="senha" type="password" />
        <button type="submit" class="submit">Entrar</button>
      </form>
      <p>Não possui conta? <a href="">Clique aqui</a></p>
    </section>
  </div>
</main>
