* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #371B58;
  --second-color: #4C3575;
  --third-color: #5B4B8A;
  --fourth-color: #7858A6;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
